@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>UK Government General Elections</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        function main() {
            var newContents = document.getElementById("logRegBody1");
            newContents.style.display = "none";
            newContents = document.getElementById("loginOrRegister");
            newContents.style.display = "none";
            newContents = document.getElementById("citizenCandidateOrParty");
            newContents.style.display = "none";
        }

        //$("#logRegBody1").css("visibility", "hidden");
        //$("#loginOrRegister").css("visibility", "hidden");

        /*window.addEventListener("load", TestFunction());

        function TestFunction() {
            document.getElementById("unconditionalBodyText").innerHTML = "Swiggity Swag";
        }*/

        function changeInfo(clicked_id) {
            //var element = document.getElementById("rightTab");
            //element.innerHTML = "Text changed";

            var oldContents = document.getElementById("homeBody");
            oldContents.style.display = "none";
            oldContents = document.getElementById("logRegBody1");
            oldContents.style.display = "none";
            oldContents = document.getElementById("loginOrRegister");
            oldContents.style.display = "none";

            if (clicked_id == "leftTab") {
                var newContents = document.getElementById("homeBody");
                newContents.style.display = "block";

                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Welcome to the UK General Election site. You can register an account which will give you access to voting for your local MP in the next general election. This site also allows you to sign up as a candidate in an election. Below you may view, and search by filtering, all incumbent MPs in relation to their constituency seats.";
            }
            else if (clicked_id == "centreTab") {
                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Below is a complete list all of the candidates running for your constituency. It also includes any political party affiliations. If there is currently a general election on, you may vote immediately.";
            }
            else if (clicked_id == "rightTab") {
                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Election-related information and decisions";
            }
            else if (clicked_id == "login") {
                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Here you may login or register an account. This account may be a regular citizen account, or a collective political party account.";

                //body - loginOrReg
                var newContents = document.getElementById("loginDisplay");
                newContents.style.display = "block";

                //newContents = document.getElementById("citizenCandidateOrParty");
                //newContents.style.display = "block";
            }

            //Testing stuff
        }

        function loginOrReg(clicked_id) {

            if (clicked_id == "login") {
                document.getElementById(upperBodyTextLogReg).innerHTML = "Login as a citizen, a candidate, or a political party"
                document.getElementById("login").innerHTML = "Go back";
                document.getElementById("").innerHTML = "Citizen";
                //document.getElementById("").innerHTML = "Candidate";
                //document.getElementById("").innerHTML = "Political Party";
            }
            else if (clicked_id == "register") {
                document.getElementById(upperBodyTextLogReg).innerHTML = "Register as a citizen, a candidate, or a political party"
                document.getElementById("login").innerHTML = "Go back";
                document.getElementById("").innerHTML = "Citizen";
                //document.getElementById("").innerHTML = "Candidate";
                //document.getElementById("").innerHTML = "Political Party";
            }

            if (stage1 == true) {

            }
        }

        function searchConstituency() {
            var input = document.getElementById("userInput");
            var filter = input.value.toLowerCase();
            var table = document.getElementById("MPConstituencyTable")
            tr = table.getElementsByTagName("tr");

            var td;
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var textValue = td.textContent || td.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(window).resize(function () {

        }).resize();

    </script>
</head>
<style>
    body {
        color: #f0f0f0;
        background-color: #101010;
    }
    .btn {
        color: #f0f0f0;
        background-color: #202020;
    }
    .btn:hover {
        color: #f0f0f0;
        background-color: #204080;
    }
    /*table, td, th {
        border: 1px solid #f0f0f0;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        overflow: scroll;
    }
    th, td {
        height: 48px;
        padding: 16px;
        color: #f0f0f0;
    }
    th {
        text-align: center;
        background-color: #3060c0;
    }
    td {
        text-align: left;
    }*/
    tr:nth-child(even) {background-color: #183048;}
    tr:nth-child(odd) {background-color: #284058;}

    /*thead, tbody {display: block; }*/

    .tableFormatting {
        overflow-y: auto;
        overflow-x: hidden;
        height: 256px;
    }

    .tableFormatting thead th {
        position: sticky;
        top: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: #38685c;
    }

    /*tbody {
        height: 256px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }*/

    /*tbody td, thead th {
        width: 20%;
    }*/

    p {
        display: block;
        margin: 2em;
    }

    h3 {
        display: block;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    input {
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
        border: 1px solid #f0f0f0;
        margin-bottom: 0.5em;
    }

    #loginRadio, #registerRadio {
        display: block;
    }

    #submitRegDetails {
        padding: 3px 4px;
        font-size: 20px;
        border-radius: 3px;
    }

    /*#logRegBody1 {
        visibility: hidden;
    }
    #loginOrRegister {
        visibility: hidden;
    }
    #citizenCandidateOrParty {
        visibility: hidden;
    }*/

</style>
<body onload="main()">

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="centreTab" onclick="changeInfo(this.id)">Vote Now</a>
                    </li>
                    <a>Page 1</a>
                    <a>Page 2</a>
                    <a>Page 3</a>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">

        <!--Login/Register-->
        <div class="row">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2">
                <!--<button type="button" class="btn-block btn"><h5 id="loginOrRegBtn" onclick="changeInfo(this.id)" class="text-center">Login/Register</h5></button>-->
            </div>
        </div>

        <!--Title of Page-->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">UK Government</h1>
                <h1 class="text-center">General Elections</h1>
            </div>
        </div>

        <!--Tabs-->
        <div class="row">
            <div class="col-sm-3">
                <!--<button type="button" class="btn-block btn"><h2 id="leftTab" onclick="changeInfo(this.id)" class="text-center">Home</h2></button>-->
            </div>
            <div class="col-sm-6">
                <!--<h2 id="VN" class="text-center">Vote Now</h2>-->
                <!--<button type="button" class="btn-block btn"><h2 id="centreTab" onclick="changeInfo(this.id)" class="text-center">Vote Now</h2></button>-->
            </div>
            <div class="col-sm-3">
                <!--<button type="button" class="btn-block btn"><h2 id="rightTab" onclick="changeInfo(this.id)" class="text-center">My Page</h2></button>-->
            </div>
        </div>

        <!--Body Section - Unconditional-->
        <div class="row">
            <div class="col-sm-12">
                <p id="unconditionalBodyText" class="text-center">Welcome to the UK General Election site. You can register an account which will give you access to voting for your local MP in the next general election. This site also allows you to sign up as a candidate in an election. Below you may view, and search by filtering, all incumbent MPs in relation to their constituency seats.</p>
            </div>
        </div>

        <!--Body Section - Home-->
        <div class="row" id="homeBody">
            <div class="col-sm-12">
                <h3 id="lowerBodyText" class="text-left">Last election results and incumbent government</h3>

                <input type="text" id="userInput" onkeyup="searchConstituency()" placeholder="Search MPs based on Constituency..." />

                <div class="tableFormatting">
                    <table id="MPConstituencyTable">
                        <thead>
                            <tr>
                                <th>Constituency Seat</th>
                                <th>Country</th>
                                <th>Full Name</th>
                                <th>Political Affiliation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aldershot</td>
                                <td>England</td>
                                <td>Leo Docherty</td>
                                <td>Conservative and Unionist Party</td>
                            </tr>
                            <tr>
                                <td>Aldridge-Brownhills</td>
                                <td>England</td>
                                <td>Wendy Morton</td>
                                <td>Conservative and Unionist Party</td>
                            </tr>
                            <tr>
                                <td>Altrincham and Sale West</td>
                                <td>England</td>
                                <td>Sir Graham Brady</td>
                                <td>Conservative and Unionist Party</td>
                            </tr>
                            <tr>
                                <td>Amber Valley</td>
                                <td>England</td>
                                <td>Nigel Mills</td>
                                <td>Conservative and Unionist Party</td>
                            </tr>
                            <tr>
                                <td>Arundel and South Downs</td>
                                <td>England</td>
                                <td>Andrew Griffith</td>
                                <td>Conservative and Unionist Party</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--Head of Government Info-->
                <h4 class="text-left">Prime Minister (Head of Government)</h4>

                <!--Secretary of State Info-->
                <h4 class="text-left">Secretaries of State</h4>

                <!--Lower House Info-->
                <h4 class="text-left">Members of the House of Commons (Lower House of Parliament)</h4>
            </div>
        </div>

        <!--Body Section - Login/Register-->
        <div class="row" id="logRegBody1">
            <div class="col-sm-12">
                <h3 id="upperBodyTextLogReg" class="text-left">Login or register?</h3>
                <form>
                    <!--<div id="loginOrRegister">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="loginOrRegRadios" id="loginRadio" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Login</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="loginOrRegRadios" id="registerRadio" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Register</label>
                        </div>
                    </div>-->
                    <div id="loginDisplay">
                        <label>Email Address:</label>
                        <input type="email" class="form-control" id="emailLog" />
                        <label>Password:</label>
                        <input type="password" class="form-control" id="passwordLog" />
                        <label>Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPasswordLog" />
                        <button type="button" class="btn-sm"><h2 id="submitRegDetails" class="text-center">Submit</h2></button>
                    </div>
                    <div class="row" id="registerDisplay">
                        <div class="col-sm-4">
                            <label>First Name:</label>
                            <input class="form-control" id="firstNameReg" />
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="emailReg" />
                            <label>Password:</label>
                            <input type="password" class="form-control" id="passwordReg" />
                            <label>Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPasswordReg" />
                            <button type="button" class="btn-sm"><h2 id="submitRegDetails" class="text-center">Submit</h2></button>
                        </div>
                        <div class="col-sm-4">
                            <label>National Insurance Number:</label>
                            <input class="form-control" id="nationalInsuranceNumberReg" />
                            <label>Nationalities (WIP):</label>
                            <input class="form-control" id="nationalityReg" />
                            <label>Residential Address:</label>
                            <input class="form-control" id="addressReg" />
                            <label>Birthday:</label>
                            <input type="date" class="form-control" id="birthdayReg" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
    </html>

    <!--
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
        //-->
