@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>UK Government General Elections</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        function main() {
            var newContents = document.getElementById("logRegBody1");
            newContents.style.display = "none";
            newContents = document.getElementById("loginOrRegister");
            newContents.style.display = "none";
            newContents = document.getElementById("citizenCandidateOrParty");
            newContents.style.display = "none";
        }

        //$("#logRegBody1").css("visibility", "hidden");
        //$("#loginOrRegister").css("visibility", "hidden");

        /*window.addEventListener("load", TestFunction());

        function TestFunction() {
            document.getElementById("unconditionalBodyText").innerHTML = "Swiggity Swag";
        }*/

        function changeInfo(clicked_id) {
            //var element = document.getElementById("rightTab");
            //element.innerHTML = "Text changed";

            if (clicked_id == "leftTab") {
                var oldContents = document.getElementById("homeBody");
                oldContents.style.display = "block";

                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Welcome to the UK General Election site. You can register an account which will give you access to voting for your local MP in the next general election. This site also allows you to sign up as a candidate in an election. Below you may view, and search by filtering, all incumbent MPs in relation to their constituency seats.";

                //body - home
                //document.getElementById("lowerBodyText").innerHTML = "Last election results and incumbent government";
            }
            else if (clicked_id == "centreTab") {
                var oldContents = document.getElementById("homeBody");
                oldContents.style.display = "none";

                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Below is a complete list all of the candidates running for your constitutency. It also includes any political party affiliations. If there is currently a general election on, you may vote immediately.";

                //body - WIP
                //document.getElementById("lowerBodyText").innerHTML = "Selectable list of candidates from your constituency";
            }
            else if (clicked_id == "rightTab") {
                var oldContents = document.getElementById("homeBody");
                oldContents.style.display = "none";

                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Election-related information and decisions";

                //body - WIP
                //document.getElementById("lowerBodyText").innerHTML = "Amendable personal details";
            }
            else if (clicked_id == "loginOrReg") {
                var oldContents = document.getElementById("homeBody");
                oldContents.style.display = "none";

                //debug
                //var debugForceHide = document.getElementById("lowerBodyText");
                //debugForceHide.style.display = "none";

                //body - unconditional
                document.getElementById("unconditionalBodyText").innerHTML = "Here you may login or register an account. This account may be a regular citizen account, or a collective political party account.";

                //body - loginOrReg
                var newContents = document.getElementById("logRegBody1");
                newContents.style.display = "block";
                newContents = document.getElementById("loginOrRegister");
                newContents.style.display = "block";
                //newContents = document.getElementById("citizenCandidateOrParty");
                //newContents.style.display = "block";
            }
        }

        function loginOrRegSection(clicked_id) {

            if (clicked_id == "login") {
                document.getElementById(upperBodyTextLogReg).innerHTML = "Login as a citizen, a candidate, or a political party"
                document.getElementById("login").innerHTML = "Go back";
                document.getElementById("").innerHTML = "Citizen";
                //document.getElementById("").innerHTML = "Candidate";
                //document.getElementById("").innerHTML = "Political Party";
            }
            else if (clicked_id == "register") {
                document.getElementById(upperBodyTextLogReg).innerHTML = "Register as a citizen, a candidate, or a political party"
                document.getElementById("login").innerHTML = "Go back";
                document.getElementById("").innerHTML = "Citizen";
                //document.getElementById("").innerHTML = "Candidate";
                //document.getElementById("").innerHTML = "Political Party";
            }

            if (stage1 == true) {
                
            }
        }

        function searchConstituency() {
            var input = document.getElementById("userInput");
            var filter = input.value.toLowerCase();
            var table = document.getElementById("MPConstituencyTable")
            tr = table.getElementsByTagName("tr");

            var td;
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    var textValue = td.textContent || td.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(window).resize(function () {

        }).resize();

    </script>
</head>
<style>
    body {
        color: #f0f0f0;
        background-color: #101010;
    }
    .btn {
        color: #f0f0f0;
        background-color: #202020;
    }
    .btn:hover {
        color: #f0f0f0;
        background-color: #204080;
    }
    table, td, th {
        border: 1px solid #f0f0f0;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        overflow: scroll;
    }
    th, td {
        height: 48px;
        padding: 16px;
        color: #f0f0f0;
    }
    th {
        text-align: center;
        background-color: #3060c0;
    }
    td {
        text-align: left;
    }
    tr:nth-child(even) {background-color: #183048;}
    tr:nth-child(odd) {background-color: #284058;}

    thead, tbody {display: block; }

    tbody {
        height: 256px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    tbody td, thead th {
        width: 20%;
    }

    p {
        display: block;
        margin: 2em;
    }

    h3 {
        display: block;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    input {
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #f0f0f0;
        margin-bottom: 0.5em;
    }

    /*#logRegBody1 {
        visibility: hidden;
    }
    #loginOrRegister {
        visibility: hidden;
    }
    #citizenCandidateOrParty {
        visibility: hidden;
    }*/

</style>
<body onload="main()">
    <div class="container-fluid">

        <!--Login/Register-->
        <div class="row">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn-block btn"><h5 id="loginOrReg" onclick="changeInfo(this.id)" class="text-center">Login/Register</h5></button>
            </div>
        </div>

        <!--Title of Page-->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">UK Government</h1>
                <h1 class="text-center">General Elections</h1>
            </div>
        </div>

        <!--Tabs-->
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn-block btn"><h2 id="leftTab" onclick="changeInfo(this.id)" class="text-center">Home</h2></button>
            </div>
            <div class="col-sm-6">
                <!--<h2 id="VN" class="text-center">Vote Now</h2>-->
                <button type="button" class="btn-block btn"><h2 id="centreTab" onclick="changeInfo(this.id)" class="text-center">Vote Now</h2></button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn-block btn"><h2 id="rightTab" onclick="changeInfo(this.id)" class="text-center">My Page</h2></button>
            </div>
        </div>

        <!--Body Section - Unconditional-->
        <div class="row">
            <div class="col-sm-12">
                <p id="unconditionalBodyText" class="text-center">Welcome to the UK General Election site. You can register an account which will give you access to voting for your local MP in the next general election. This site also allows you to sign up as a candidate in an election. Below you may view, and search by filtering, all incumbent MPs in relation to their constituency seats.</p>
            </div>
        </div>

        <!--Body Section - Home-->
        <div class="row" id="homeBody">
            <div class="col-sm-12">
                <h3 id="lowerBodyText" class="text-left">Last election results and incumbent government</h3>

                <input type="text" id="userInput" onkeyup="searchConstituency()" placeholder="Search MPs based on Constituency..." />

                <table id="MPConstituencyTable">
                    <thead>
                        <tr>
                            <th>Constituency Seat</th>
                            <th>Country</th>
                            <th>Full Name</th>
                            <th>Political Affiliation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Aldershot</td>
                            <td>England</td>
                            <td>Leo Docherty</td>
                            <td>Conservative and Unionist Party</td>
                        </tr>
                        <tr>
                            <td>Aldridge-Brownhills</td>
                            <td>England</td>
                            <td>Wendy Morton</td>
                            <td>Conservative and Unionist Party</td>
                        </tr>
                        <tr>
                            <td>Altrincham and Sale West</td>
                            <td>England</td>
                            <td>Sir Graham Brady</td>
                            <td>Conservative and Unionist Party</td>
                        </tr>
                        <tr>
                            <td>Amber Valley</td>
                            <td>England</td>
                            <td>Nigel Mills</td>
                            <td>Conservative and Unionist Party</td>
                        </tr>
                        <tr>
                            <td>Arundel and South Downs</td>
                            <td>England</td>
                            <td>Andrew Griffith</td>
                            <td>Conservative and Unionist Party</td>
                        </tr>
                    </tbody>
                </table>

                <!--Head of Government Info-->
                <h4 class="text-left">Prime Minister (Head of Government)</h4>

                <!--Secretary of State Info-->
                <h4 class="text-left">Secretaries of State</h4>

                <!--Lower House Info-->
                <h4 class="text-left">Members of the House of Commons (Lower House of Parliament)</h4>
            </div>
        </div>

        <!--Body Section - Login/Register-->
        <div class="row" id="logRegBody1">
            <div class="col-sm-12">
                <h3 id="upperBodyTextLogReg" class="text-left">Login or register?</h3>
            </div>
        </div>
        <div class="row" id="loginOrRegister">
            <div class="col-sm-6">
                <button type="button" class="btn-block btn"><h2 id="login" onclick="loginOrReg(this.id)" class="text-center">Login</h2></button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn-block btn"><h2 id="register" onclick="loginOrReg(this.id)" class="text-center">Register</h2></button>
            </div>
        </div>
        <div class="row" id="citizenCandidateOrParty">
            <div class="col-sm-4">
                <button type="button" class="btn-block btn"><h2 id="citizen" onclick="loginOrReg(this.id)" class="text-center">Citizen</h2></button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn-block btn"><h2 id="candidate" onclick="loginOrReg(this.id)" class="text-center">Candidate</h2></button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn-block btn"><h2 id="politicalParty" onclick="loginOrReg(this.id)" class="text-center">Political Party</h2></button>
            </div>
        </div>
</body>
</html>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    //-->
